body {
    margin-top: 140px;
}

.navless{
    margin-top: 100px;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

h2 {
    color:rgb(0, 0, 0);
    font-family: 'Oswald',sans-serif;
    font-size: large;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Oswald',sans-serif;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 1px;
}

#img-area {
    display: none;
}

h4 {
    color: black;
    margin-bottom: 2px;
    font-family: sans-serif;
}

p {
    margin-top: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    padding-inline-start: 20px;
}

img {
    display: inline-block;
}

#round-image {
    display: none;
}

.title-box {
    display: none;
}

.title-bar {
    position: fixed;
    background-color: #500000;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 120px;
    padding-left: 10px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    margin-left: 10%;
    top: 90px;
}

#intro-box {
    min-width: 25%;
    max-width: 67%;
}

.toggle-button {
    position: relative;
    color:#500000;
    background-color: #500000;
}

#bar-button {
    float: right;
    border-color: white;
    border-width: 1px;
    margin-right: 10px;
    margin-top: 10px;
}

#free-button {
    display: none;
}

.back-box {
    display: none;
}

.nav-box{
    background-color: #500000;
    text-align: center;
    min-width: 30%;
    margin: 15px;
    float: right;
    clear: right;
}

.bar-box{
    background-color: #500000;
    text-align: center;
    min-width: 20%;
    display: inline-block;
    max-height: fit-content;
}

.short-box {
    margin-bottom: 10px;
}

#project-box {
    background-color: #500000;
    text-align: center;
    max-width: 67%;
    padding-top: 1px;
    padding-bottom: 1px;
}

.long-box {
    min-width: 25%;
    max-width: 67%;
}

.link-box {
    background-color: #a0a0a0;
    position: fixed;
    right: 10%;
    bottom: 45%;
    padding: 5px;
    min-width: 10%;
    text-align: center;
}

.white-text {
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}